* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #19084e;
  }
  body {
    margin: 0;
    background-color: #9873fe;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  .start-screen,
  .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9873fe;
  }
  #start-button,
  #restart {
    position: absolute;
    font-size: 1.2em;
    padding: 1em 3em;
    border-radius: 2em;
    box-shadow: 0 1em 3em rgba(37, 22, 80, 0.3);
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex {
    display: flex;
  }
  #display-container {
    background-color: #ffffff;
    position: absolute;
    width: 90%;
    max-width: 37em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 3em 2em;
    border-radius: 0.8em;
    box-shadow: 0 1em 3em rgba(37, 22, 80, 0.3);
  }
  .header {
    padding: 0.5em;
    border-bottom: 1px solid #c8c5d1;
  }
  .header .title,
  .timer span {
    font-weight: 600;
  }
  .question-color {
    font-size: 1.5em;
    text-align: center;
  }
  #container {
    margin-bottom: 1em;
  }
  .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    place-items: center;
  }
  .option-div {
    width: 100%;
    height: 10em;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    border-radius: 0.5em;
  }
  .option-div:disabled {
    cursor: not-allowed;
  }
  .correct {
    background: url("correct.svg");
  }
  .incorrect {
    background: url("incorrect.svg");
  }
  .correct,
  .incorrect {
    background-repeat: no-repeat;
    background-size: 3em;
    background-position: center;
  }
  #next-button {
    font-size: 1.1em;
    background-color: #9873fe;
    color: #ffffff;
    padding: 0.4em 2em;
    border-radius: 0.3em;
  }
  .hide {
    display: none;
  }
  #restart {
    margin-top: 6em;
  }




//correct.svg

<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

<!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
<svg fill="#06D001" width="800px" height="800px" viewBox="0 0 200 200" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" stroke="#06D001">

<g id="SVGRepo_bgCarrier" stroke-width="0"/>

<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

<g id="SVGRepo_iconCarrier">

<title/>

<path d="M177.6,80.43a10,10,0,1,0-19.5,4.5,60.76,60.76,0,0,1-6,44.5c-16.5,28.5-53.5,38.5-82,22-28.5-16-38.5-53-22-81.5s53.5-38.5,82-22a9.86,9.86,0,1,0,10-17c-38.5-22.5-87-9.5-109.5,29a80.19,80.19,0,1,0,147,20.5Zm-109.5,11a10.12,10.12,0,0,0-11,17l40,25a10.08,10.08,0,0,0,5.5,1.5,10.44,10.44,0,0,0,8-4l52.5-67.5c3.5-4.5,2.5-10.5-2-14s-10.5-2.5-14,2l-47,60Z"/>

</g>

</svg>





//incorrect.svg

<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">

<!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools -->
<svg width="800px" height="800px" viewBox="0 0 1024 1024" fill="#C40C0C" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="#C40C0C">

<g id="SVGRepo_bgCarrier" stroke-width="0"/>

<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

<g id="SVGRepo_iconCarrier">

<path d="M332 663.2c-9.6 9.6-9.6 25.6 0 35.2s25.6 9.6 35.2 0l349.6-356c9.6-9.6 9.6-25.6 0-35.2s-25.6-9.6-35.2 0L332 663.2z" fill=""/>

<path d="M681.6 698.4c9.6 9.6 25.6 9.6 35.2 0s9.6-25.6 0-35.2L367.2 307.2c-9.6-9.6-25.6-9.6-35.2 0s-9.6 25.6 0 35.2l349.6 356z" fill=""/>

<path d="M516.8 1014.4c-277.6 0-503.2-225.6-503.2-503.2S239.2 7.2 516.8 7.2s503.2 225.6 503.2 503.2-225.6 504-503.2 504z m0-959.2c-251.2 0-455.2 204.8-455.2 456s204 455.2 455.2 455.2 455.2-204 455.2-455.2-204-456-455.2-456z" fill=""/>

</g>

</svg>







